@model List<DisplayProductsViewModel>


<h2>Products</h2>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            @*<td><a asp-controller="Products" asp-action="Add" asp-route-id ="@item.Id">ADD</a></td>*@
            
            <td><input type="checkbox" name="checkBox" asp-for="@item.Selected" value="@item.Id"></td>
        </tr>
    }
    <tr><td>
<form asp-controller="Products" asp-action="Add">
    <input type="submit" value="Add" />
</form>
  
</td></tr>

</table>


<div>
    

        @Html.Partial("SelectedProducts",Model)
   
    
</div>


<h2>Footer</h2>